# Created by .ignore support plugin (hsz.mobi)
.idea
spring-workstation.iml
000-sharding-sphere-jdbc/target
000-sharding-sphere-jdbc/000-sharding-sphere-jdbc.iml
001-fastdfs/001-fastdfs.iml
001-fastdfs/target
002-swagger2/002-swagger2.iml
002-swagger2/target
003-easypoi/003-easypoi.iml
003-easypoi/target
common/common.iml
common/target
starter/starter.iml
starter/target

004-redis/004-redis.iml
\
